@import url('https://fonts.googleapis.com/css?family=Miriam+Libre:400,700');
@import url('https://fonts.googleapis.com/css?family=Work+Sans:400,700');

$bg-main: #F6F7FB;
$black: #0D0D0D;
$sidebar: #87888a;
$sidebar_hover: #5e7dd6;
$btnBgHov1: E6E6E6;
$gold: #ffffce;


body {
    padding: 0;
    margin: 0;
    font-family: 'Work Sans', sans-serif;
    background-color: $bg-main;
    font-weight: normal;
}
div{
	box-sizing: border-box;
}
button{
    outline: none;
}

h1,
h2,
h3,
h4,
p,
ul,
li {
    margin: 0;
    padding: 0;
}

.checkbox2x {
    transform: scale(2);
}

button {
    background-color: none;
    margin: 0;
    padding: 0;
    border: none;
}
button:hover{
    cursor: pointer;
}

div {
    box-sizing: border-box;
}
.bold{
    font-weight: bold;
}
.pointer{
    cursor: pointer;
}
.colorSidebarHover{
    color:$sidebar_hover;
}
.colorRed{
    color: red;
}
.colorWhite{
    color: #fff;
}
.bgBeige{
    background-color: beige !important;
}
menu {
    margin: 0 0 0 20px;
    padding: 15px 0 0 0;
    color: $black;
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
}
menu .item{
    padding: 14px 15px;
}
/* menu .item:hover{
    background-color: #E6E6E6;
} */
#miniLogo{
    margin-top: 4px;
    display: block;
    cursor: pointer;

}
#logoText{
    margin: 0 0 0 0;
    color: $sidebar_hover;
    font-weight: 400;
}
.flex-row{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.reportHeaderSection{
    .i2{
        margin-left: 15px;
    }
    h2{
        cursor: pointer;
        color: $sidebar;
        &:hover{
            color: $sidebar_hover;
        }
    }
}

.reportSection{
    margin-bottom: 30px;
}

.reportSection-uzivatele{
    .item{
        padding: 15px 12px;
        width: 175px;
        height: 175px;
        margin: 5px 20px 5px 0;
        text-align: center;
        border-radius: 100%;
        background-color: #fff;
        cursor: pointer;
        box-shadow: 0 2px 5px rgba(0,0,0,0.1);
        .numero{
            margin: 4px auto;
            color: $sidebar_hover;
        }
        h3{
            margin: 4px auto;
            color: $sidebar;
        }
    }
    .i{
        font-size: 25pt;
        margin: auto;
        color: $sidebar_hover;
    }
}
#home {
    display: block;
}

#hamburger-container {
    visibility: hidden;
    margin-left: auto;
    margin-top: 5px;
    cursor: pointer;
    
}

#hamburger-margin {
    width: 25px;
}

#hamburger-logo {
    font-size: 38px;
    color: gray;
    &:active {
        color: red;}
}


.sidebarSelected{
    color: $sidebar_hover !important;
    background-color: #fff !important;
    border-radius: 5px;
}

.container-global {
    width: 90%;
    margin: 0 0 0 30px;
	display: flex;
	flex-direction: row;
    .sidebarContainer{
        display: none;
    }
	#sidebar{

        position: fixed;
        padding: 5px 15px;
        background-color: #fff;
        box-shadow: 0 0 7px -1px rgba(0, 0, 0, 0.3);
        border-radius: 6px;
        top: 10px;
        left: 10px;
        min-width: 250px;
        opacity: 0.97;
        z-index: 10000;

		.item{
			cursor: pointer;
			color: $sidebar;
			font-size: 18px;
            margin: 17px 0;
            padding: 5px 0;
			&:hover{
				color: $sidebar_hover;
			}
            .i{
                margin-right: 10px;
            }
            .i2{
                margin-left: 15px;
                font-size: 12pt;
            }
            .submenu{
                display: flex;
                flex-direction: column;
                .subitem{
                    margin: 5px 0;
                    padding: 5px 5px 5px 25px;
                    width: auto;
                    &:first-child{
                        margin: 15px 0 5px 0;

                    }
                    &:hover{
                        background-color: #fff;
                        color: $sidebar_hover;
                    }

                }
                
            }

		}
	}
	#page{
		width: 98%;
	}
}


h2{
    margin: 20px 0;
    font-weight: bold;
}
h3 {
    margin: 10px 0;
    font-weight: normal;
}
.center-text{
    text-align: center;
}
.grey{
    color: grey;
}
.red{
    color: red !important;
}
.green{
    color: green;
}
.bgsvmodra{
    background-color: #A4D3F7 !important;
}
.bgseda{
    background-color: #E6E6E6;
}
.success{
    background-color: green;
}
.fail{
    background-color: red;
}
.yellow{
    color: #FBFFA7;
}
.sekce{
    color: $sidebar;
    margin-top: 30px;
    margin-bottom: 10px;
    font-size: 22pt;
    font-weight: bold;
}
.center{
    margin: 0 auto;
}
.whiteStrip{
    width: 100%;
    padding: 10px;
    text-align: center;
    background-color: #fff;
    margin: 20px 0;
}
/* MODAL */
.modal-global-info{
    display: none;
    padding: 10px;
    background-color: #FBFFA7;
    position: fixed;
    min-width: 300px;
    max-width: 350px;
    box-shadow: 0px 19px 20px -10px rgba(0, 0, 0, 0.4);
    min-height: 50px;
    top: 5px;
    left: 5px;
    z-index: 10;

}
.modal-global-info-content{
    float: left;
    width: 90%;
    color: #1BB0CE;
    
}
.modal-global-info-close{
    float: right;
    font-size: 18pt;
    cursor: pointer;
    color: #1BB0CE;
}
.modal-global-info-close:hover{
    color: red;
}
.modal-info{
    color: #fff;
    z-index: 2;
    position: fixed;
    top: 5px;
    min-width: 300px;
    min-height: 60px;
    display: none;

}
.modal-info-close{
    float: right;
    padding: 5px;
    cursor: pointer;
    font-size: 20pt;
}

/* buttons btns btn */

button i {
    font-size: 12pt;
    margin-right: 8px;
}

.btn-sub-menu {
    background-color: #fff;
    padding: 8px 12px;
    margin: 0 10px 0 0;
    font-size: 16px;
    border: 2px solid #fff;
    border-radius: 5px;
    cursor: pointer;
    color: $sidebar;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    &:hover{
         background-color: $btnBgHov1;
        border: 2px solid $sidebar_hover;
        color: $sidebar_hover;
        box-shadow: 0 2px 5px rgba(0,0,0,0.1);

    }
}



.btn-filtr {
    color: #fff;
    border: 2px solid $sidebar;
    background-color: $sidebar_hover;
    padding: 8px 12px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 10px;
    border-radius: 5px;
    border: 2px solid $sidebar_hover;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    &:hover{
        background-color: $btnBgHov1;
        color: $sidebar_hover;
        border: 2px solid $sidebar_hover;
        box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    }
}

.btn1{
    background-color: #fff;
    padding: 5px;
    font-size: 11pt;
}

.btn-2{
    color: $sidebar;
    border: 2px solid $sidebar;
    background-color: #fff;
    padding: 8px 12px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 10px;
    border-radius: 5px;
    border: 2px solid $sidebar;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    &:hover{
        background-color: $btnBgHov1;
        color: $sidebar_hover;
        border: 2px solid $sidebar_hover;
        box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    }
}

.btn-tyden {
    padding: 5px;
    border-radius: 100%;
}
.btn-prepocitat{
    background-color: #A4D3F7;
    border: 2px solid #81A8B8;
    padding: 4px 10px;
    font-size: 12px;
    cursor: pointer;
    margin-top: 10px;
}




/* /buttons*/
.login-container object{
    box-shadow: 0px 5px 15px 1px rgba(0,0,0,0.3);
    border-radius: 100%;
    margin: 35px auto 0 auto;
    display: block;


}
.login{
    margin: auto;
    padding-top: 20px;
    text-align: center;
    width: 215px;
    margin-bottom: 15px;

}


#denik-menu-btns {
    padding: 0px 0px;
    margin-top: 20px;
}
.dnesje{
    color: #1BB0CE;
}
.prochazeniTydny{
    float: left;
    margin-top: 5px;
}
.prochazeniTydny h3{
    margin: 0;
}
.tydnyBtns{
    margin: 0;
    display: inline-block;
    margin-left: 5px;
}
.tydnyBtns button{
    margin-top: 2px;
    
}

.filtr {
    width: 100%;
    float: left;
    padding: 15px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    border-radius: 5px;
    background-color: #fff;
    margin-bottom: 15px;
    margin-top: 30px;
    label{
        font-size: 15pt;
        color: $sidebar_hover;
    }
    input{
        width: 200px;
        height: 25px;
        border-radius: 5px;
        border: 2px solid $sidebar_hover;

    }
    select{
        width: 200px !important;
        height: 25px !important;
        border-radius: 5px !important;
        border: 2px solid $sidebar_hover !important;
    }
}

.width100{
    width: 100%;
}

.filtr-block {
    float: left;
    padding: 5px;
    margin-top: 5px;
    margin-bottom: 10px;
}

.filtr-filtruj {
    text-align: left;
}
.filtr .icon{
    margin-right: 5px;
}
.day-row-container {
    margin: 12px 0px;
    display: flex;
    flex-wrap: wrap;
}

.zamitnoutDen {
    cursor: pointer;
}
.zamitnoutPolozku {
    cursor: pointer;
}
.confirmDen {
    cursor: pointer;
}
.confirmPolozku {
    cursor: pointer;
}

.day-row {
    width: 100%;
    padding: 20px;
    float: left;
    background-color: #fff;
    margin: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    input{
        font-size: 10pt;
    }
    select{
        width: 200px;
    }
}


.day-row-info {
    padding: 0px;
    float: left;
    background-color: #fff;
    border-left: 3px solid #E6E6E6;
}

.day-row-1 {
    width: 100%;
    padding: 7px 5px;
    font-size: 16pt;
    font-weight: bold;
    h3{
        font-weight: bold;

    }
}
.day-row-1 p{
    display: inline;
}

.day-row-2 {
    padding: 8px;
    width: 100%;
    background-color: #fff;
}

.day-row-2 h3 {
    display: inline;
    margin: 5px 5px;
}

.day-row-3 {
    min-height: 90px;
    padding: 5px;
}

.inline-block{
    display: inline-block;
}

.train-item {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    margin: 15px 0 15px 0;
    background-color: $gold;
    padding: 3px 5px;
    border-radius: 10px;
    .item{
        margin: 5px;
    }
    .trainItem{
        margin-right: 5px;
        padding-top: 3px;
        
    }
    .minus-ots{
        color:$sidebar;
        cursor: pointer;
        font-size: 20pt;
    }
    .inline-block{
        margin-top: 5px;
    }
   
}
.train-set .i{
    cursor: pointer;
}


.train-phase {
    padding: 5px;
    border: 2px solid $sidebar;
    margin: 10px 0;
    border-radius: 5px;
}

.vzdal {
    border: 1px solid black;
    margin: 0 5px 0 0;
}

.opak,
.vzdal {
    border: 1px solid black;
    margin: 0 5px 0 5px;
    padding: 0 5px 0 5px;
}

.ID {
    border: 1px solid black;
    margin: 0 5px 0 0;
    padding: 0 5px 0 5px;
}

.aktivita {
    padding: 1px 0 0 0;
}

.den {
    float: left;
    margin: -2px 10px 0 5px;
}

.date {
    padding: 7px 0 0 10px;
    display: inline;
}

.poznamka {
    padding: 5px;
    font-size: 12px;
}

.edit {
    float: right;
    margin: -22px 9px 0 0;
}

.modal-rt-ulozit{
    position: fixed;
    top: 5px;
    right: 12%;
}

.modal-global{
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */

}
.modal-global-content{
    background-color: #fefefe;
    margin: 15% auto;
    /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 90%;
    overflow: auto;

}
.modal-global-close{
    position: absolute;
    right: 1%;
    top: 1%;
    cursor: pointer;
    font-size: 18pt;
    color: $sidebar_hover;

}
.modal-global-close:hover{
    color: red;
}

.modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
}


/* Modal Content/Box */

.modal-content {
    background-color: #fefefe;
    margin: 15px auto;
    /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 97%;
    /* Could be more or less, depending on screen size */
}


/* The Close Button */

.close {
    color: #aaa;
    float: right;
    font-size: 28pt;
    font-weight: bold;
    margin-top: -25px;
    color: #9A2B35;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
.modal-rt-close{
    position: fixed;
    top: 26px;
    right: 6%;
    background-color: #1BB0CE;
    margin-top: 0;
    font-size: 13pt;
}
.modal-rt-table-frozen{
    margin-left: 277px;
}
.modal-rt-table-frozen td {
    height: 50px;
}
.modal-rt-table-frozen th {
    height: 50px;
}
.rt-modal-table {
    overflow: scroll;
    padding: 4px;
    background-color: #FFF;
}
.rt-modal-table #submit{
    margin-top: 20px;
}
.rt-modal-table #nazevTable{
    font-size: 14pt;
    color: #1BB0CE;
    margin-bottom: 10px;
    min-width: 317px;
    margin-left: 34px;
}

.rt-modal-table td,
.rt-modal-table th {
    border: 1px solid #ddd;
    padding: 8px;
}
.modal-rt-frozen-td{
    left: 2%;
    position: absolute;
    top: auto;
    max-width: 280px;
    background-color: #fff;
    border: 1px solid #ddd;
    height: 33px !important;

}
.modal-rt-frozen-td input{
    width: 250px !important;
}

.modal-rt-frozen-td-2{
    position: absolute;
}

.rocni-tabulka-vypis {
    height: auto;
    background-color: #fff;
    margin: 15px 0 15px 0;
    padding: 20px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.rt-vypis-popis {
    padding: 6px;
    margin: 2px 5px 0 0;
    min-width: 200px;
}

.rt-vypis-popis h5 {
    display: inline;
    font-size: 14pt;
}

.rt-vypis-expand {
    float: left;
    margin-right: 10px;
    font-size: 20px;
    cursor: pointer;
    padding: 3px;
    background-color: #fff;
    color: $sidebar;
    border: 2px solid $sidebar; 
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    &:hover{
        color:$sidebar_hover;
        border: 2px solid $sidebar_hover;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    }
}



.rt-vypis-detail {
    display: flex;
    flex-direction: row;
    button{
        margin: 0 5px;
    }
}
.rt-vypis-detail .icon {
    margin-right: 5px;
}
.rt-modal-table table {
    border-collapse: collapse;
}
.rt-modal-table tbody tr:nth-child(odd) {
    background: beige;
}
.rt-modal-table tbody tr:hover {
    background: #A4D3F7;
}
.rt-modal-table .td-minus{
    background: #fff;
}
.rt-modal-table #tr-plus{
    background: #fff;
}
.rt-modal-table th{
    background: #fff;
}
.rt-modal-table table input {
    width: 35px;
}


.input-ots-id {
    width: auto !important;
    height: 30px;
    font-size: 9pt;
}

.input-opakovani {
    width: 60px;
}

.input-vzdalenost {
    width: 60px;
}

.mj {
    background-color: #A4D3F7;
    padding: 2px 5px;
}

.aktivitaMargin {
    background-color: #A4D3F7;
    padding: 2px 5px;
}

.select-misto {
    width: 200px;
}
.report-stav{
    display: inline;
    font-size: 20pt;
}
.tydenni-predpis-porovnani{
    width: 100%;
    margin-bottom: 20px;

}
.tydenni-predpis-porovnani table{
    border-collapse: collapse;
}
.tydenni-predpis-porovnani th{
    background-color: #A4D3F7;
    padding: 2px 10px;
}
.tydenni-predpis-porovnani table, th, td{
    border: 2px solid #81A8B8;
    padding: 1px;
}
.tydenni-predpis-porovnani td{
    padding: 2px;
    align-content: center;
}
.OTU{
    margin-top: 20px;
}

#formRegistrace {
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
}
#formRegistrace div {
    margin-right: 15px;
    border-left: 2px solid black;
    padding-left: 5px;
    margin-top: 5px;
}
.nasdilenyUsers{
    border-collapse: collapse;
}
.admin-users{
    border-collapse: collapse;
}
.table1 table{
    border-collapse: collapse;
    margin-bottom: 30px;
    width: 100%;

}
.table1 th {
    background: $sidebar_hover;
    color: #fff;
    padding: 8px 10px;
    border: 2px solid $sidebar_hover;
}
.table1 td {
    padding: 8px 10px;
    border: 2px solid $sidebar_hover;
}

.table1 table tbody tr {
    background-color: #fff;
}
.table1 table tbody tr:nth-child(even){
    background-color: beige;
}
.table1 table tbody tr:hover{
    background-color: #A4D3F7;
}
.tableRepDoch{
    table{
        border-collapse: collapse;
        margin-bottom: 30px;
        width: 100%;
    }
    tr{
        background-color: #fff;
    }
    th{
        background: $sidebar_hover;
        color: #fff;
        padding: 8px 10px;
        border-color: $bg-main;
    }
    td{
        padding: 5px 12px;
        border: none;
    }
    .oddelovnik{
        border-top: 8px solid $bg-main;
    }
   

}
.porovnaniTable{
    width: 600px;
}

.iconHoverRed:hover{
    color: red;
}
.adminH3{
    border-top: 3px solid #81A8B8;
    padding-top: 5px;
    margin-top: 45px;
    color: #81A8B8;
    font-weight: bold;
}
.ajaxWorking {
    display: none;
    position: fixed;
    z-index: 100;
    background-color: rgba(255, 255, 255, 0.8);
    width: 100%;
    height: 100%;

}
.ajaxWorking img{
    width: 120px;
    display: block;
    margin: 250px auto 0 auto;
}

.fazeCasZat{
    display: inline;
    font-size: 11pt;
    margin-left: 5px;
}
.fazeOtu{
    width: 40px;
}
.labelFazeOtu{
    margin-right: 3px;
    font-size: 10pt;
    display: inline-block;
    width: 130px;
}
.btn-nemoc{
    display: none;
}
.btn-zavod{
    display: none;
}
.opakovaniXvzdalenost{
    width:50px;
}
.plus-ots{
    width: 20px;
    .i{
        color: $sidebar_hover;
        font-size: 20pt;
        cursor: pointer;
    }

}
.pin1{
    position: fixed;
    top: -5px;
    right: 0px;    
}
.rtKey{
    color: #81A8B8;
    margin-right: 3px;
    font-size: 11pt;
}
.inputNemoc{
    width: 150px;
}
.pocetstart{
    width: 60px;
}

.dochazka_nav{
    margin-bottom: 30px;
  }
  
.dochazkaTableHeader{
    padding: 10px;
    background-color: #fff;
    border-radius: 5px;
    display: flex;
    flex-wrap: wrap;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    h3{
        width: 100%;
    }
    label{
        display: block;
    }
    .item{
      margin: 10px;
    }
  }

.dochazkaInfo{
    display: inline-block;
    padding: 5px 15px;
    background-color: wheat;
    border-radius: 5px;
    margin-bottom: 5px;
}


#vlozDoFazeText{
    width: 100%;
    height: 300px;
}

.jinaFaze{
    border: 1px solid black;
    padding: 5px 10px;
    border-radius: 100%;
    cursor: pointer;
}
.aControl{
    font-size: 25pt;
}
.otuTreport{
    border: 2px solid $sidebar_hover;
    border-radius: 5px;
    padding: 10px;
    width: 100%;

    .item{
        .item_nazev{
            width: 150px;
            display: inline-block;
        }
    }
}
.oddil-new-clen{
    padding: 10px;
    border: 2px solid $sidebar;
    border-radius: 5px;
    display: none;
    .new-clen-container{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
}
.presunutoDoFaze{
    padding: 4px 6px 4px 6px;
    color: #fff;
    background-color: $sidebar_hover;
    display: inline-block;
    margin-top: 2px;
}
.nadFiltrBtns{
    margin: 10px 0;
}

#checkVsichni{
    cursor: pointer;
    font-size: 20pt;
    margin-right: 10px;
    &:hover{
        color: $sidebar;
    }
}

#uncheckVsichni{
    cursor: pointer;
    font-size: 20pt;
    &:hover{
        color: $sidebar;
    }
}

.dochazkaContainer{
    display: flex;
    flex-direction: column;
    margin-bottom: 35px;
    .divClen{
        cursor: pointer;
        display: flex;
        flex-direction: row;
        background-color: #fff;
        padding: 10px 20px;
        margin: 4px 0;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        border-radius: 5px;
        align-items: center;
        &:hover{
            background-color: $btnBgHov1;
        }
        .item1{
            display: flex;
            flex-direction: column;
            .item11{
                margin: 3px;
            }
            .item1Up{
                display: flex;

            }
            .item1Down{
                display: flex;
            }
        }
        .item2{
            width: 35px;
            display: flex;
            flex-direction: row;
        }
    }
}

/*----------------------------MEDIA QUERIES */


@media screen and (max-width: 415px) {
    .container-global{

    }




}

/* sidebar menu */
@media screen and (max-width: 780px) {

    .container-global{
        padding: 3px;
        flex-direction: column;
        width: 99%;
        margin: auto;
        .sidebarContainer{
            #sidebar{
                max-height: 96%;
                overflow-y: scroll;
            }
        }
        #page{
            width: 100%;
        }
    }
    .input-ots-id{
        width: 270px !important;
        font-size: 10px !important ;
    }
    .day-row{
        padding: 0px !important;
    }
    
   

}
