@import url('https://fonts.googleapis.com/css?family=Miriam+Libre:400,700');


body {
    padding: 0;
    margin: 0;
    font-family: 'Miriam Libre', sans-serif;
    background-color: #E6E6E6;
    font-weight: normal;
}

h1,
h2,
h3,
h4,
p,
ul,
li {
    margin: 0;
    padding: 0;
}

button {
    background-color: none;
    margin: 0;
    padding: 0;
    border: none;
}
button:hover{
    cursor: pointer;
}

div {
    box-sizing: border-box;
}

menu {
    width: 100%;
    background-color: #1BB0CE;
    padding: 0;
    margin: 0;
    color: #fff;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
menu .item{
    padding: 14px 15px;
    cursor: pointer;
}
menu .item:hover{
    background-color: #E6E6E6;
}




.container-global {
    width: 90%;
    margin: 0 auto;
}


h2{
    margin: 20px 0;
    font-weight: bold;
}
h3 {
    margin: 10px 0;
    font-weight: normal;
}
.center-text{
    text-align: center;
}
.grey{
    color: grey;
}
.red{
    color: red !important;
}
.green{
    color: green;
}
.bgsvmodra{
    background-color: #A4D3F7 !important;
}
.bgseda{
    background-color: #E6E6E6;
}
.success{
    background-color: green;
}
.fail{
    background-color: red;
}
.yellow{
    color: #FBFFA7;
}
.sekce{
    color: #1BB0CE;
    margin-top: 10px;
    margin-bottom: 10px;
}
.center{
    margin: 0 auto;
}
.whiteStrip{
    width: 100%;
    padding: 10px;
    text-align: center;
    background-color: #fff;
    margin: 20px 0;
}
/* MODAL */
.modal-global-info{
    display: none;
    padding: 10px;
    background-color: #FBFFA7;
    position: fixed;
    min-width: 300px;
    max-width: 350px;
    box-shadow: 0px 19px 20px -10px rgba(0, 0, 0, 0.4);
    min-height: 50px;
    top: 5px;
    left: 5px;
    z-index: 10;

}
.modal-global-info-content{
    float: left;
    width: 90%;
    color: #1BB0CE;
}
.modal-global-info-close{
    float: right;
    font-size: 18pt;
    cursor: pointer;
    color: #1BB0CE;
}
.modal-global-info-close:hover{
    color: red;
}
.modal-info{
    color: #fff;
    z-index: 2;
    position: fixed;
    top: 5px;
    min-width: 300px;
    min-height: 60px;
    display: none;

}
.modal-info-close{
    float: right;
    padding: 5px;
    cursor: pointer;
    font-size: 20pt;
}

/* buttons btns btn */

button i {
    font-size: 12pt;
    margin-right: 8px;
}

.btn-sub-menu {
    background-color: #1BB0CE;
    padding: 8px 12px;
    margin: 0 10px 0 0;
    font-size: 16px;
    border: 2px solid #1BB0CE;
    cursor: pointer;
    color: #fff;
}

.btn-sub-menu:hover {
    background-color: #E6E6E6;
    border: 2px solid #1BB0CE;
    color: #1BB0CE;
}

.btn-filtr {
    background-color: #A4D3F7;
    border: 2px solid #81A8B8;
    padding: 8px 12px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 10px;
}

.btn-filtr:hover {
    background-color: #81A8B8;
    border: 2px solid #81A8B8;
}

.btn1{
    background-color: #fff;
    padding: 5px;
    font-size: 11pt;
}

.btn-tyden {
    padding: 5px;
    border-radius: 100%;
}
.btn-prepocitat{
    background-color: #A4D3F7;
    border: 2px solid #81A8B8;
    padding: 4px 10px;
    font-size: 12px;
    cursor: pointer;
    margin-top: 10px;
}




/* /buttons*/
.login-container object{
    box-shadow: 0px 5px 15px 1px rgba(0,0,0,0.3);
    border-radius: 100%;
    margin: 35px auto 0 auto;
    display: block;


}
.login{
    margin: auto;
    padding-top: 20px;
    text-align: center;
    width: 215px;
    margin-bottom: 15px;

}


#denik-menu-btns {
    padding: 0px 0px;
    margin-bottom: 40px;
}
.dnesje{
    color: #1BB0CE;
}
.prochazeniTydny{
    float: left;
    margin-top: 5px;
}
.prochazeniTydny h3{
    margin: 0;
}
.tydnyBtns{
    margin: 0;
    display: inline-block;
    margin-left: 5px;
}
.tydnyBtns button{
    margin-top: 2px;
    
}

.filtr {
    width: 100%;
    border: 2px solid #81A8B8;
    /*color: #81A8B8;*/
    float: left;
    padding: 5px;
    max-width: 600px;
    /*box-shadow: 0px 0px 13px 0px rgba(0,0,0,0.2)*/
}
.filtr input {
    width: 180px;
    height: 22px;
}
.filtr select{
    height: 24px;
}

.filtr-block {
    float: left;
    padding: 5px;
    margin-top: 5px;
}

.filtr-filtruj {
    text-align: left;
}
.filtr .icon{
    margin-right: 5px;
}
.day-row-container {
    margin: 12px 0px;
    display: flex;
    flex-wrap: wrap;
}

.zamitnoutDen {
    cursor: pointer;
}
.zamitnoutPolozku {
    cursor: pointer;
}
.confirmDen {
    cursor: pointer;
}
.confirmPolozku {
    cursor: pointer;
}

.day-row {
    padding: 0px;
    float: left;
    min-width: 588px;
    background-color: #fff;
    margin: 5px;
    -webkit-box-shadow: 0px 0px 24px -2px rgba(0, 0, 0, 0.34);
    -moz-box-shadow: 0px 0px 24px -2px rgba(0, 0, 0, 0.34);
    box-shadow: 0px 0px 24px -2px rgba(0, 0, 0, 0.34);
}
.day-row input{
    height: 23px;
}

.day-row-info {
    padding: 0px;
    float: left;
    background-color: #fff;
    border-left: 3px solid #E6E6E6;
}

.day-row-1 {
    background-color: #A4D3F7;
    width: 100%;
    padding: 7px 5px;
}
.day-row-1 p{
    display: inline;
}

.day-row-2 {
    padding: 8px;
    width: 100%;
    background-color: #fff;
}

.day-row-2 h3 {
    display: inline;
    margin: 5px 5px;
}

.day-row-3 {
    min-height: 90px;
    padding: 5px;
}

.train-item {
    display: block;
    width: 100%;
    margin: 10px 0 10px 0;
}
.train-set .i{
    cursor: pointer;
}

.train-item p {
    display: inline;
}

.train-phase {
    padding: 5px;
    border: 1px solid black;
    margin: 10px 0;
}

.vzdal {
    border: 1px solid black;
    margin: 0 5px 0 0;
}

.opak,
.vzdal {
    border: 1px solid black;
    margin: 0 5px 0 5px;
    padding: 0 5px 0 5px;
}

.ID {
    border: 1px solid black;
    margin: 0 5px 0 0;
    padding: 0 5px 0 5px;
}

.aktivita {
    padding: 1px 0 0 0;
}

.den {
    float: left;
    margin: -2px 10px 0 5px;
}

.date {
    padding: 7px 0 0 10px;
    display: inline;
}

.poznamka {
    padding: 5px;
    font-size: 12px;
}

.edit {
    float: right;
    margin: -22px 9px 0 0;
}

.modal-rt-ulozit{
    position: fixed;
    top: 5px;
    right: 60px;
}

.modal-global{
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */

}
.modal-global-content{
    background-color: #fefefe;
    margin: 15% auto;
    /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 90%;

}
.modal-global-close{
    position: absolute;
    right: 50px;
    top: 85px;
    cursor: pointer;

}
.modal-global-close:hover{
    color: red;
}

.modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
}


/* Modal Content/Box */

.modal-content {
    background-color: #fefefe;
    margin: 15px auto;
    /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 97%;
    /* Could be more or less, depending on screen size */
}


/* The Close Button */

.close {
    color: #aaa;
    float: right;
    font-size: 28pt;
    font-weight: bold;
    margin-top: -25px;
    color: #9A2B35;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
.modal-rt-close{
    position: fixed;
    top: 26px;
    right: 12px;
    background-color: #1BB0CE;
    margin-top: 0;
    font-size: 13pt;
}
.modal-rt-frozen-td{
    left: 20px;
    position: absolute;
    top: auto;
    width: 120px;
    background-color: #fff;
    border: 1px solid #ddd;
    height: 33px !important;

}
.modal-rt-table-frozen{
    margin-left: 277px;
}
.modal-rt-table-frozen td {
    height: 50px;
}
.modal-rt-table-frozen th {
    height: 50px;
}
.rt-modal-table {
    overflow: scroll;
    padding: 4px;
    background-color: #FFF;
}
.rt-modal-table #submit{
    margin-top: 20px;
}
.rt-modal-table #nazevTable{
    font-size: 14pt;
    color: #1BB0CE;
    margin-bottom: 10px;
    min-width: 317px;
    margin-left: 34px;
}

.rt-modal-table td,
.rt-modal-table th {
    border: 1px solid #ddd;
    padding: 8px;
}

.rocni-tabulka-vypis {
    height: auto;
    width: 540px;
    background-color: #A4D3F7;
    margin: 15px 0 15px 0;
    padding: 6px;
    /*box-shadow: 0px 0px 11px 0px rgba(0,0,0,0.4);*/
}

.rt-vypis-popis {
    padding: 6px;
}

.rt-vypis-popis h5 {
    display: inline;
    font-size: 14pt;
}

.rt-vypis-expand {
    float: left;
    margin-right: 10px;
    font-size: 20px;
    cursor: pointer;
    margin-top: 2px;
}

.rt-vypis-expand:hover {
    color: #FFF;
}

.rt-vypis-detail {
    display: none;
}
.rt-vypis-detail .icon {
    margin-right: 5px;
}
.rt-modal-table table {
    border-collapse: collapse;
}
.rt-modal-table tbody tr:nth-child(odd) {
    background: beige;
}
.rt-modal-table tbody tr:hover {
    background: #A4D3F7;
}
.rt-modal-table .td-minus{
    background: #fff;
}
.rt-modal-table #tr-plus{
    background: #fff;
}
.rt-modal-table th{
    background: #fff;
}
.rt-modal-table table input {
    width: 35px;
}


.input-ots-id {
    width: 150px !important;
    height: 30px;
    font-size: 9pt;
}

.input-opakovani {
    width: 60px;
}

.input-vzdalenost {
    width: 60px;
}

.mj {
    background-color: #A4D3F7;
    padding: 0px 5px;
    border-radius: 10px;
}

.select-misto {
    width: 200px;
}
.report-stav{
    display: inline;
    font-size: 20pt;
}
.tydenni-predpis-porovnani{
    width: 100%;
    margin-bottom: 20px;

}
.tydenni-predpis-porovnani table{
    border-collapse: collapse;
}
.tydenni-predpis-porovnani th{
    background-color: #A4D3F7;
    padding: 2px 10px;
}
.tydenni-predpis-porovnani table, th, td{
    border: 2px solid #81A8B8;
    padding: 1px;
}
.tydenni-predpis-porovnani td{
    padding: 2px;
    align-content: center;
}
.OTU{
    margin-top: 20px;
}

#formRegistrace {
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
}
#formRegistrace div {
    margin-right: 15px;
    border-left: 2px solid black;
    padding-left: 5px;
    margin-top: 5px;
}
.nasdilenyUsers{
    border-collapse: collapse;
}
.admin-users{
    border-collapse: collapse;
}
.table1 table{
    border-collapse: collapse;

}
.table1 th {
    background: #81A8B8;
    color: #fff;
    padding: 8px 10px;
}
.table1 td {
    padding: 8px 10px;
}

.table1 table tbody tr {
    background-color: #fff;
}
.table1 table tbody tr:nth-child(even){
    background-color: beige;
}
.table1 table tbody tr:hover{
    background-color: #A4D3F7;
}
.porovnaniTable{
    width: 600px;
}

.iconHoverRed:hover{
    color: red;
}
.adminH3{
    border-top: 3px solid #81A8B8;
    padding-top: 5px;
    margin-top: 45px;
    color: #81A8B8;
    font-weight: bold;
}
.ajaxWorking {
    display: none;
    position: fixed;
    z-index: 100;
    background-color: rgba(255, 255, 255, 0.8);
    width: 100%;
    height: 100%;

}
.ajaxWorking img{
    width: 120px;
    display: block;
    margin: 250px auto 0 auto;
}

.fazeCasZat{
    display: inline;
    font-size: 11pt;
    margin-left: 5px;
}
.fazeOtu{
    width: 40px;
}
.labelFazeOtu{
    margin-right: 3px;
    font-size: 10pt;
    display: inline-block;
    width: 130px;
}
.btn-nemoc{
    display: none;
}
.btn-zavod{
    display: none;
}
.opakovaniXvzdalenost{
    width:50px;
}
.plus-ots{
    width: 20px;
}
.pin1{
    position: fixed;
    top: -15px;
    right: 0px;    
    background-color: rgba(0,0,0,0.2);
}
