<div class="login-container" style="width:100%;height:100%;">
<div style="margin: auto;">
	<img src="img/feidippid.png"  style="display: block; padding-top: 30px; margin:auto;">	
	{* <object data="img/feidippid.svg" type="image/svg+xml" >
	  <!-- <img src="fallback.jpg" /> -->
	</object> *}
</div>


<div class="login">


<form method="POST" action="ajax/ajax.php"><input type="hidden" id="sAction" name="sAction" value="loginUser">
<h2>DENÍK SPORTOVCE </h2>
<div>
    <label for="login">Login</label>
    <input type="text" id="login" name="login" autofocus="">
</div> 
<div>
    <label for="password">Heslo</label>
    <input type="password" id="password" name="password">
</div>
<div style="clear: both;"></div>
<div>

    <input type="submit" class="btn-filtr" style="margin-top:20px; margin-bottom: 20px; padding:10px 70px;" value="Přihlásit">
</div>    
</form>
</div>
<div style="clear: both;"></div>
<div class="whiteStrip" >
	<h3 style=" margin-bottom:4px;">"Zvítězí ten, kdo vytrvá."</h3>
	<h3 >-Perseus-</h3>
</div>

