<script>
$(function() {
  $("#rocni-predpis").click(function(){
    var ajaxModul = $(this).attr("id");
    $.ajax({
      type: "POST",
      url: "ajax/ajax.php",
      data: "sAction="+ajaxModul,
      success: function(content){
        if(content){
          $("#page").html(content);
        }
      }
    });
  });

  $("#tydenni-predpis").click(function(){
    var ajaxModul = $(this).attr("id");
    $.ajax({
      type: "POST",
      url: "ajax/ajax.php",
      data: "sAction="+ajaxModul,
      success: function(content){
        if(content){
          $("#page").html(content);
        }
      }
    });
  });




});//function


</script>
<!-- main2.tpl -->
<div class="container-global">
      <h2 class="sekce">Deník</h2>
      <div id="denik-menu-btns">
        <button id="rocni-predpis" class="btn-sub-menu">Roční předpis</button>
        <button id="tydenni-predpis" class="btn-sub-menu">Týdenní předpis</button>
        
      </div>
</div>      
      
    