

<script>
$(function() {
  $(".close").click(function(){
    $(".modal").css( "display", "none" );
  });
});
</script>
<span class="close">&times;</span>

<div class="rt-modal-popis">

</div>
<!-- modal-rt.tpl-->
<div class="rt-modal-table">
    <div class="modal-content-action"></div>
    <table>
      <h2>Výpis uživatelů</h2>
      <thead>
        <tr>
          <th colspan="">
            ID
          </th>
          <th colspan="">
            Jméno
          </th>
          <th colspan="">
            Příjmení
          </th>
          <th>
            Email
          </th>
        </tr>
        {foreach from=$rozpisUsers key=k item=i}


        <tr class="rt-tr-input">
          <td>
              {$i.id_user}
        </td>
        <td colspan="">
            {$i.jmeno}
        </td>
        <td colspan="">
          {$i.prijmeni}
        </td>
        <td>
          {$i.email}
          
        </td>
        </tr>
        {/foreach}

    </table>
