<tr id="trAjax">

{foreach from=$otu key=k item=i}
    
<tr class="rt-tr-input">
        <td class="modal-rt-frozen-td" style="width: 280px;" check="1">
            <span class="td-minus">
                <i style="color:red;font-size:20px;cursor:pointer" class="fa fa-minus-square" aria-hidden="true"></i>
            </span>
            {* <input type="text" name="" class="input-ots-id" id="otu{$i.iPK}" iPKots="{$i.iPK}" value="{$i.sName}" disabled="">  *}
            <select class="aktivita select-2" name="specializace" style="width: 250px;">
            <option value='0'>Vyberte OTS/STS</option>
            {foreach from=$ots key=k2 item=i2}
            <option value="{$i2.iPK}" sMj="{$i2.sMj}" {if $i.iPK == $i2.iPK} selected {/if}>{$i.sName}</option>
            {/foreach}
        </select>
        </td>
      <td >
          <input type="text"  id="41_{$i.iPK}" name="41_{$i.iPK}"/>
      </td>
      <td >
          <input type="text" id="42_{$i.iPK}" name="42_{$i.iPK}"/>
      </td>
      <td >
          <input type="text" id="43_{$i.iPK}" name="43_{$i.iPK}"/>
      </td>
      <td >
          <input type="text" id="44_{$i.iPK}" name="44_{$i.iPK}"/>
      </td>
      <td >
          <input type="text" id="45_{$i.iPK}" name="45_{$i.iPK}"/>
      </td>
      <td >
          <input type="text" id="46_{$i.iPK}" name="46_{$i.iPK}"/>
      </td>
      <td >
          <input type="text" id="47_{$i.iPK}" name="47_{$i.iPK}"/>
      </td>
      <td >
          <input type="text" id="48_{$i.iPK}" name="48_{$i.iPK}"/>
      </td>
      <td >
          <input type="text" id="49_{$i.iPK}" name="49_{$i.iPK}"/>
      </td>
      <td >
          <input type="text" id="50_{$i.iPK}" name="50_{$i.iPK}" />
      </td>
      <td >
          <input type="text" id="51_{$i.iPK}" name="51_{$i.iPK}"/>
      </td>
      <td >
          <input type="text" id="52_{$i.iPK}" name="52_{$i.iPK}" />
      </td>
      
      <td >
          <input type="text" id="1_{$i.iPK}" name="1_{$i.iPK}" />
      </td>
      <td >
          <input type="text" id="2_{$i.iPK}" name="2_{$i.iPK}" />
      </td>
      <td >
          <input type="text" id="3_{$i.iPK}" name="3_{$i.iPK}" />
      </td>
      <td >
          <input type="text" id="4_{$i.iPK}" name="4_{$i.iPK}" />
      </td>
      <td >
          <input type="text" id="5_{$i.iPK}" name="5_{$i.iPK}" />
      </td>
      <td >
          <input type="text" id="6_{$i.iPK}" name="6_{$i.iPK}" />
      </td>
      <td >
          <input type="text" id="7_{$i.iPK}" name="7_{$i.iPK}" />
      </td>
      <td >
          <input type="text" id="8_{$i.iPK}" name="8_{$i.iPK}" />
      </td>
      <td >
          <input type="text" id="9_{$i.iPK}" name="9_{$i.iPK}" />
      </td>
      <td >
          <input type="text" id="10_{$i.iPK}" name="10_{$i.iPK}" />
      </td>
      <td >
          <input type="text" id="11_{$i.iPK}" name="11_{$i.iPK}"/>
      </td>
      <td >
          <input type="text" id="12_{$i.iPK}" name="12_{$i.iPK}"/>
      </td>
      <td >
          <input type="text" id="13_{$i.iPK}" name="13_{$i.iPK}"/>
      </td>
      <td >
          <input type="text" id="14_{$i.iPK}" name="14_{$i.iPK}"/>
      </td>
      <td >
          <input type="text" id="15_{$i.iPK}" name="15_{$i.iPK}"/>
      </td>
      <td >
          <input type="text" id="16_{$i.iPK}" name="16_{$i.iPK}"/>
      </td>
      <td >
          <input type="text" id="17_{$i.iPK}" name="17_{$i.iPK}"/>
      </td>
      <td >
          <input type="text" id="18_{$i.iPK}" name="18_{$i.iPK}"/>
      </td>
      <td >
          <input type="text" id="19_{$i.iPK}" name="19_{$i.iPK}"/>
      </td>
      <td >
          <input type="text" id="20_{$i.iPK}" name="20_{$i.iPK}"/>
      </td>
      <td >
          <input type="text" id="21_{$i.iPK}" name="21_{$i.iPK}"/>
      </td>
      <td >
          <input type="text" id="22_{$i.iPK}" name="22_{$i.iPK}"/>
      </td>
      <td >
          <input type="text" id="23_{$i.iPK}" name="23_{$i.iPK}"/>
      </td>
      <td >
          <input type="text" id="24_{$i.iPK}" name="24_{$i.iPK}"/>
      </td>
      <td >
          <input type="text" id="25_{$i.iPK}" name="25_{$i.iPK}"/>
      </td>
      <td >
          <input type="text" id="26_{$i.iPK}" name="26_{$i.iPK}"/>
      </td>
      <td >
          <input type="text" id="27_{$i.iPK}" name="27_{$i.iPK}"/>
      </td>
      <td >
          <input type="text" id="28_{$i.iPK}" name="28_{$i.iPK}"/>
      </td>
      <td >
          <input type="text" id="29_{$i.iPK}" name="29_{$i.iPK}"/>
      </td>
      <td >
          <input type="text" id="30_{$i.iPK}" name="30_{$i.iPK}"/>
      </td>
      <td >
          <input type="text" id="31_{$i.iPK}" name="31_{$i.iPK}"/>
      </td>
      <td >
          <input type="text" id="32_{$i.iPK}" name="32_{$i.iPK}" />
      </td>
      <td >
          <input type="text" id="33_{$i.iPK}" name="33_{$i.iPK}"/>
      </td>
      <td >
          <input type="text" id="34_{$i.iPK}" name="34_{$i.iPK}"/>
      </td>
      <td >
          <input type="text" id="35_{$i.iPK}" name="35_{$i.iPK}"/>
      </td>
      <td >
          <input type="text" id="36_{$i.iPK}" name="36_{$i.iPK}"/>
      </td>
      <td >
          <input type="text" id="37_{$i.iPK}" name="37_{$i.iPK}"/>
      </td>
      <td >
          <input type="text" id="38_{$i.iPK}" name="38_{$i.iPK}"/>
      </td>
      <td >
          <input type="text" id="39_{$i.iPK}" name="39_{$i.iPK}"/>
      </td>
      <td >
          <input type="text" id="40_{$i.iPK}" name="40_{$i.iPK}"/>
      </td>
      
      </tr>
      {/foreach}
        
      </tr>
      <script type="text/javascript">
        $(document).ready(function(){
            $(".select-2").select2();
        });
      </script>