<script>
$(function() {
  $('.modal-global-close').click(function(){
    $('.modal-global').hide();
  });
  


});//function


</script>
<div class="modal-global">
  <div class="modal-global-header">
    <div class="modal-global-close">
      <i class="fas fa-times fa-lg"></i>
    </div>
  </div>
  <div class="modal-global-content"> </div>
</div>


