<script>
$(function() {
  $('.modal-global-info-close').click(function(){
    $('.modal-global-info').fadeOut('slow');
    $('.modal-global-info-content').removeClass('red');
    $('.modal-global-info-content').html('');
  });
  


});//function


</script>
<div class="modal-global-info">
    
  <div class="modal-global-info-content"> 
  <p>JHkj dkjwn eklwldkew.</p>
  </div>
  <div class="modal-global-info-close"><i class="fas fa-window-close"></i></div>
</div>


