<tr class="rt-tr-input">

    <td class="modal-rt-frozen-td" style="width: 280px;" check="1">
        <span class="td-minus">
            <i style="color:red;font-size:20px;cursor:pointer" class="fa fa-minus-square" aria-hidden="true"></i>
        </span>
        <select class="aktivita select-2" name="specializace" style="width: 250px;">
            <option value='0'>Vyberte OTS/STS</option>
            {foreach from=$ots key=k item=i}
            <option value="{$i.iPK}" sMj="{$i.sMj}" {if $aktivita[ 'idOTU']==$i.iPK} selected {/if}>{$i.sName}</option>
            {/foreach}
        </select>
        </td>
        <td>
            <input type="text" id="41" name="41" />
        </td>
        <td>
            <input type="text" id="42" name="42" />
        </td>
        <td>
            <input type="text" id="43" name="43" />
        </td>
        <td>
            <input type="text" id="44" name="44" />
        </td>
        <td>
            <input type="text" id="45" name="45" />
        </td>
        <td>
            <input type="text" id="46" name="46" />
        </td>
        <td>
            <input type="text" id="47" name="47" />
        </td>
        <td>
            <input type="text" id="48" name="48" />
        </td>
        <td>
            <input type="text" id="49" name="49" />
        </td>
        <td>
            <input type="text" id="50" name="50" />
        </td>
        <td>
            <input type="text" id="51" name="51" />
        </td>
        <td>
            <input type="text" id="52" name="52" />
        </td>
        <td>
            <input type="text" id="1" name="1" />
        </td>
        <td>
            <input type="text" id="2" name="2" />
        </td>
        <td>
            <input type="text" id="3" name="3" />
        </td>
        <td>
            <input type="text" id="4" name="4" />
        </td>
        <td>
            <input type="text" id="5" name="5" />
        </td>
        <td>
            <input type="text" id="6" name="6" />
        </td>
        <td>
            <input type="text" id="7" name="7" />
        </td>
        <td>
            <input type="text" id="8" name="8" />
        </td>
        <td>
            <input type="text" id="9" name="9" />
        </td>
        <td>
            <input type="text" id="10" name="10" />
        </td>
        <td>
            <input type="text" id="11" name="11" />
        </td>
        <td>
            <input type="text" id="12" name="12" />
        </td>
        <td>
            <input type="text" id="13" name="13" />
        </td>
        <td>
            <input type="text" id="14" name="14" />
        </td>
        <td>
            <input type="text" id="15" name="15" />
        </td>
        <td>
            <input type="text" id="16" name="16" />
        </td>
        <td>
            <input type="text" id="17" name="17" />
        </td>
        <td>
            <input type="text" id="18" name="18" />
        </td>
        <td>
            <input type="text" id="19" name="19" />
        </td>
        <td>
            <input type="text" id="20" name="20" />
        </td>
        <td>
            <input type="text" id="21" name="21" />
        </td>
        <td>
            <input type="text" id="22" name="22" />
        </td>
        <td>
            <input type="text" id="23" name="23" />
        </td>
        <td>
            <input type="text" id="24" name="24" />
        </td>
        <td>
            <input type="text" id="25" name="25" />
        </td>
        <td>
            <input type="text" id="26" name="26" />
        </td>
        <td>
            <input type="text" id="27" name="27" />
        </td>
        <td>
            <input type="text" id="28" name="28" />
        </td>
        <td>
            <input type="text" id="29" name="29" />
        </td>
        <td>
            <input type="text" id="30" name="30" />
        </td>
        <td>
            <input type="text" id="31" name="31" />
        </td>
        <td>
            <input type="text" id="32" name="32" />
        </td>
        <td>
            <input type="text" id="33" name="33" />
        </td>
        <td>
            <input type="text" id="34" name="34" />
        </td>
        <td>
            <input type="text" id="35" name="35" />
        </td>
        <td>
            <input type="text" id="36" name="36" />
        </td>
        <td>
            <input type="text" id="37" name="37" />
        </td>
        <td>
            <input type="text" id="38" name="38" />
        </td>
        <td>
            <input type="text" id="39" name="39" />
        </td>
        <td>
            <input type="text" id="40" name="40" />
        </td>

</tr>
<tr id="pridatTr">

</tr>