<script>
  $(function () {
    

  }); //function
</script>
<!-- tydenni-predpis-item.tpl -->

  
    <div class="day-row-2 train-set">
      <h3>FÁZE I</h3>
      <select class="select-misto">
        <option value="0">Vyberte místo</option>
      </select>
      <div class="train-phase">
        <div class="train-item">
        <i  style="color:red;font-size:20px;cursor:pointer" class="fa fa-minus-square minus-ots" aria-hidden="true"></i>
          <select class="input-ots-id ">
            <option value="0">Vyberte OTS/STS</option>
          </select>
          <input class="input-opakovani" type="text" placeholder="opakování" />
          <span class="nasobeni">x</span>
          <input class="input-vzdalenost" type="text" placeholder="vzdálenost" />
          <p class="mj">m</p>
        </div>
        <div class="train-item pridat"></div>

        <div class="train-item">
          <i style="color:green;font-size:20px;cursor:pointer" class="fa fa-plus-square plus-ots" aria-hidden="true"></i>
        </div>


      </div>
      <!-- /train-phase -->
      <h3>FÁZE II</h3>
      <select class="select-misto ">
        <option value="0">Vyberte místo</option>
      </select>
      <div class="train-phase">
        <div class="train-item">
        <i  style="color:red;font-size:20px;cursor:pointer" class="fa fa-minus-square minus-ots" aria-hidden="true"></i>
          <select class="input-ots-id">
            <option value="0">Vyberte OTS/STS</option>
          </select>
          <input class="input-opakovani" type="text" placeholder="opakování" />
          <span class="nasobeni">x</span>
          <input class="input-vzdalenost" type="text" placeholder="vzdálenost" />
          <p class="mj">m</p>
        </div>
        <div class="train-item pridat"></div>

        <div class="train-item">
          <i style="color:green;font-size:20px;cursor:pointer" class="fa fa-plus-square plus-ots" aria-hidden="true"></i>
        </div>

        


      </div>
      <!-- /train-phase -->
      <h3>FÁZE III</h3>
      <select class="select-misto">
        <option value="0">Vyberte místo</option>
      </select>
      <div class="train-phase">
      <div class="train-item">
        <i  style="color:red;font-size:20px;cursor:pointer" class="fa fa-minus-square minus-ots" aria-hidden="true"></i>
          <select class="input-ots-id">
            <option value="0">Vyberte OTS/STS</option>
          </select>
          <input class="input-opakovani" type="text" placeholder="opakování" />
          <span class="nasobeni">x</span>
          <input class="input-vzdalenost" type="text" placeholder="vzdálenost" />
          <p class="mj">m</p>
        </div>
        <div class="train-item pridat"></div>

        <div class="train-item">
          <i style="color:green;font-size:20px;cursor:pointer" class="fa fa-plus-square plus-ots" aria-hidden="true"></i>
        </div>


    </div>
    <!-- /train-phase -->
  </div>
  <div class="day-row-3">
    <textarea style="width:100%" rows="6" placeholder="Krátká poznámka od trenéra..."></textarea>
  </div>







