<script>
$(function() {
  // select2
    $('.select-2').select2();




});//function


</script>
<!-- reporty.tpl -->
<h2 class="sekce">Reporty</h2>
      <div class="filtr">
        <div class="filtr-block">
    <label for="tyden-from">Tyden od</label>
    <select name="tyden-form" id="tyden-od" class="select-2" style="width:60px;">
      {for $foo=1 to 52}
      <option value="{$foo}">{$foo}</option>
      {/for}
    </select>
    <label for="tyden-from">Tyden do</label>
    <select name="tyden-form" id="tyden-do" class="select-2" style="width:60px;">
      {for $foo=1 to 52}
      <option value="{$foo}">{$foo}</option>
      {/for}
    </select>
    <label for="rok">Rok</label>
    <select name="rok" id="rok" class="select-2" style="width:100px;">
      <option value="{$rok-3}">{$rok -3}</option>
      <option value="{$rok-2}">{$rok -2}</option>
      <option value="{$rok-1}">{$rok -1}</option>
      <option value="{$rok}" selected="selected">{$rok}</option>
      <option value="{$rok+1}">{$rok+1}</option>
      
    </select>
  </div>
        <div class="filtr-block">
    <label for="filtr-uzivatel-select">Uživatel</label>
    <select id="filtr-uzivatel-select" class="select-2" style="width:350px;">
      {foreach from=$rozpisUsers key=k item=i}
      <option value="{$i.id_user}">[{$i.email}] {$i.titul} {$i.jmeno} {$i.prijmeni}</option>
      {/foreach}
    </select>
  </div>
       

        <div style="clear:both"></div>

        <div class="filtr-block filtr-filtruj">
            <button class="btn-filtr" id="filtruj-t-report">FILTRUJ</button>
        </div>
        


      </div>
      <!--/filtr -->
      <div style="clear:both"></div>



<div class="day-row-container">
  
</div>

    
