

        
        <div class="OTU table1">
          <table>
              <thead>
                <tr>
                  <th>
                    
                  </th>
                  <th colspan="">
                    ID
                  </th>
                  <th colspan="">
                    Název
                  </th>
                  <th>
                    
                  </th>
                  
                </tr>
              </thead>
              <tbody>
                {foreach from=$rozpisSpec key=k item=i}
        
        
                <tr class="rt-tr-input" idSpec="{$i.iPK}" specName="{$i.sName}">
                  <td><i class="fas fa-info-circle"></i></td>
                  <td>
                      {$i.iPK}
                </td>
                <td colspan="" >
                    {$i.sName}
                </td>
                <td>
                  <i class="fas fa-trash-alt deleteSpec" style="cursor: pointer;"></i>
                </td>
                
        
                </tr>
                {/foreach}
                </tbody>
        
            </table></div>
            <script type="text/javascript">
              $(document).ready(function(){
                $('.deleteSpec').click(function(){
                  var idSpec = $(this).closest('tr').attr('idSpec');
                  var nazevSpec = $(this).closest('tr').attr('specName');
                  if (confirm('Opravdu chcete smazat specializaci ' + nazevSpec + '?')){
                    var dataString = 'sAction=adminOtu&sAction2=deleteSpec&idSpec='+idSpec
                    $.ajax({
                      type: "POST",
                      url: "ajax/ajax.php",
                      data: dataString,
                      success: function(content){
                          $('#ajaxSpecInfo').html(content);
                      }
                    });
                  }
                });
              }); //doc ready
              
            </script>
    
    

