<p>Každé jedno STU které chcete vložit do fáze musí být na samostatném řádku.</p>
<textarea id="vlozDoFazeText"></textarea>
<button class="btn-2" id="vlozDoFaze" >VLOZ DO FAZE</button>

<script>
$(document).ready(function(){
	$('#vlozDoFaze').click(function(){
		let vkladanyText =  $('#vlozDoFazeText').val();
		vkladanyText = vkladanyText.replace(new RegExp("\n", 'g'), ',');
		//vkladanyText = vkladanyText.substring(0, vkladanyText.length - 1); 
		vkladanyText = vkladanyText.split(',');
		let den = $('#extStuDen').val();
		let faze = $('#extStuDenFaze').val();
		

		//vkladanyText = vkladanyText.indexOf("\n");
		
		console.log('den=' + den + 'faze=' + faze  );
		console.log(vkladanyText);
		for( var x = 0; x < vkladanyText.length; x ++ ){
			$('#page').find(".day-row[den='"+ den + "']").find(".phase[faze='" + faze + "']").find('.plus-ots').click();
			$('#page').find(".day-row[den='"+ den + "']").find(".phase[faze='" + faze + "']").find('.plus-ots').prev().prev().find('.sActivity').val(vkladanyText[x]).closest('.train-phase').find('.input-opakovani').val('1').closest('.train-phase').find('.input-vzdalenost').val('1');
			
			prepocitejVzOpak(this);
			
		}
		//yavri modal
		$('.modal-global-close').click();

	});


});//ready
</script>